{% extends 'algoritm/base.html' %}
{% load algoritm_tags %}
{% block content%}
<section class="container content__block">
        <div class="row">
            <div class="col-md-2 col-sm-4 m-10">
                <nav class ="bg-light menu-vertical mb-5 h-100">
                    <ul class ="nav navbar-nav">
                        {% if cat_selected == 0 %}
                            <li class ="menu__item_verical  mb-4 mt-4">Все категории</li>
                        {% else %}
                            <li class="mb-4 mt-4"><a class ="menu__link_verical" href="{% url 'products' %}">Все категории</a></li>
                        {% endif %}

<!--                        {% getcats as categories %}-->
<!--                            {% show_categories cat_selected=cat_selected %}-->
                        {% for c in cats %}
                            {% if c.boards__count > 0 %}
                                {% if c.pk == cat_selected %}
                                    <li class ="menu__item_verical mb-4 mt-4">{{ c.name }}</li>
                                {% else %}
                                    <li class="mb-4 mt-4"><a class ="menu__link_verical" href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            <ul class="col-9">
                {% for p in posts%}
                    <li class="container post__area">
                        <div class="d-flex flex-row title__row">
                            <a href="{{ p.get_absolute_url }}" class="post__title-style"><h4 class="content__title">{{ p.title }}</h4></a>
                            <p>Категория: {{ p.cat}}</p>
                        </div>
                        <div class ="container">
                            {%if p.photo %}
                                <img class="image_preview img-responsive" src="{{ p.photo.url }}">
                            {% else %}
                                <img class="image_preview img-responsive" src="../../static/algoritm/images/dashboard.jpg">
                            {% endif %}
                            <p class="content__block-text"> {{ p.content|truncatewords:50 }}  </p>

                        </div>
                            <!--<div class="row justify-content-end"><a href="#" class="button col-2">Подробнее</a></div>-->
                        <div class="row justify-content-end mb-5 button__block">
                            <div class="col-lg-4 col-sm-3">
                                <a href="{{ p.get_absolute_url }}" class="banner__link button_orange">Подробнее</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </section>
{% if page_obj.has_other_pages %}
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link pagination__digits" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            {% for p in paginator.page_range %}
                {% if page_obj.number == p%}
                    <li class="page-item">
                      <span class="page-link pagination__digits pagination__digits-active">{{ p }}</span>
                    </li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <li class="page-item">
                        <a class="page-link pagination__digits" href="?page={{ p }}">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link pagination__digits" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
{% endblock content%}